* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section.wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, #fe0eed, #ffb960 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.modal-main {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.form-main {
  width: 50%;
  background: #ffffff;
  height: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

div.form-main > h2 {
  color: #191919;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 42px;
}

div.form-main > p.logininto {
  color: #121212;
  font-size: 16px;
  width: 300px;
  text-align: left;
}

div.form-main form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

div.form-main form label {
  width: 300px;
  text-align: left;
}

div.form-main form input {
  width: 300px;
  height: 40px;
  border: 1px solid rgba(251, 2, 247, 0.3);
  border-radius: 25px;
  padding: 10px 15px;
  color: #232323;
  margin-bottom: 20px;
  margin-top: 5px;
  outline: 0;
}

div.form-main form input::placeholder {
  color: #232323;
}

div.form-main form label,
div.form-main form p,
div.modal-main p {
  font-size: 12px;
  color: #666666;
  line-height: 2;
  text-transform: capitalize;
}

div.form-main form button {
  background-image: linear-gradient(to right, #ffce49, #fb02f7);
  width: 300px;
  height: 45px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 25px;
  font-weight: 500;
  font-size: 18px;
  margin: 25px auto 15px;
}

div.text-form {
  width: 50%;
  background-image: linear-gradient(to right, #ffce49, #ff19e5);
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

div.text-form h3 {
  font-size: 32px;
  color: #ffffff;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
}

div.text-form p {
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
  text-transform: capitalize;
  font-weight: 500;
}

a#createAccount {
  background: transparent;
  border-radius: 25px;
  padding: 10px 30px;
  border: 1px solid #fc06f2;
  color: #fc06f2;
  font-size: 15px;
  text-decoration: none;
  margin-left: 3px;
}
